.title {
    font-family: 'Segoe print';
    font-weight: bolder;
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 30px 0px 0px 0px;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    background-color: #333;
    color: #fff;
    border: none;
    /* padding: 15px 20px; */
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    min-width: 100px;
}

.summaryWindow {
    /* justify-content: center; */
    align-items: center;
    width: 80%;
    /* height: 200px; */
    /* min-height: 200px; */
    box-sizing: border-box;
    border: 1px, solid;
}

li {
    /* padding: 20px; */
    margin: 24px;
}

.summaryFirst,
.summaryRepeat {
    width: 100%;
    padding: 20px;
    font-family: "SimSun";
    font-weight: bolder;
    font-size: 12px;
    padding: 5px;

}

.summaryRepeat {
    display: none;
}

.visible {
    display: flex;
}

.invisible {
    display: none;
}

.indctView {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border: 1px, solid;
    margin: 30px 0px 30px 0px;
}

.indctNum-min {
    font-family: Segoe print;
    font-size: 60px;
    animation-name: slide-in-min;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.indctNum-mid {
    font-family: Ryomei;
    font-size: 100px;
    animation-name: slide-in-mid;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.indctNum-max {
    font-family: Impact;
    font-size: 200px;
    animation-name: slide-in-max;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes slide-in-min {
    100% {
        transform: translateY(0%);
    }

    30% {
        transform: translateY(80px);
    }

    0% {
        transform: translateY(-80px)
    }
}

@keyframes slide-in-mid {
    100% {
        transform: translateY(0%);
    }

    30% {
        transform: translateY(60px)
    }

    0% {
        transform: translateY(-60px)
    }
}

@keyframes slide-in-max {
    100% {
        transform: translateY(0%);
    }

    30% {
        transform: translateY(40px)
    }

    0% {
        transform: translateY(-40px)
    }
}

.history {
    display: flex;
    width: 300px;
    height: 300px;
    /* justify-content: center;
    align-items: center; */
    border: 1px, solid;
    margin: 30px 0px 30px 0px;
}